<p class='headings'> Account number:  <%= @account.id %> </p>

<% @account.boxes.each do |box| %>

  <p>

    <span class='subheadings'> Box number: <%= box.id %> </span> </br>

    Delivery date: <%= box.delivery_date %> </br>

    Contents: </br>

    <% box.products.each do |product| %>

      Product: <%= product.name %>; Rating: <%= @account.product_rating_info(product.id) %> </br>

    <% end %>

  </p>

<% end %>
